<h1>{{title | uppercase}}</h1>

<button (click)="toggle()">
  <span *ngIf="isOn === true">ON</span>
  <span *ngIf="isOn === false">OFF</span>
</button>

<ul *appDisplayGuests="displayGuestList">
  <li *ngFor=" let movie of movies" 
      appHightlight
    >
    <p>
      {{ movie.name | uppercase }}
      <span>({{ movie.year }})</span>
    </p>
    <p>
      {{ movie.director }}
    </p>
    <p>
      Duration: {{ movie.duration }}
    </p>
    <span *ngFor="let genre of movie.genre">
      <strong>
        {{ genre | lowercase }}
      </strong>
    </span>
  </li>
</ul>
